@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  font-family: "Satoshi", "Plus Jakarta Sans";
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply bg-[#101013] text-slate-100;
  }
}
